MONGO_USER=user_name
MONGO_PASSWORD=user_password
MONGO_PORT=27017
MONGO_HOST=localhost
MAX_BYTES=15728640 
MIN_BYTES=0
MONGO_COLLECTION_FILE=file
MONGO_COLLECTION_AUDIT_LOGS=audit_logs
MONGO_CLIENT=mongo_client
AUDIT_SAVE_ACTION=save
AUDIT_UPDATE_ACTION=update  
AUDIT_DELETE_ACTION=delete
AUDIT_PROCESS_ACTION=process
AUDIT_ENTITY_TYPE=Document
